.chat-header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 10px;
  height: 15vh;
  align-items: center;
  /* border: 2px solid red; */
  background-color: #add8e6;
}
.chat-header > div > div > input {
  border: 2px solid black;
  width: 50%;
  width: 50%;
  border-radius: 20px;
  padding: 5px 5px 5px 20px;
  /* padding-left: 20px; */
}

.select-header {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.right-buttons {
  display: flex;
  gap: 20px;
}
.right-buttons > button {
  width: 100px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}
.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
@media screen and (max-width: 850px) {
  .chat-title {
    font-size: 20px;
  }

  .right-buttons {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
  }
  .profile-image {
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}
